@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@source '../node_modules/fumadocs-ui/dist/**/*.js';




::-webkit-scrollbar {
  width: 0.4vw;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e6e4e4;
  cursor: pointer;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-track:horizontal {
  background: transparent;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #e6e4e4;
  cursor: pointer;
}